/node_modules
/public/hot
/public/storage
/public/js/*
/storage/*.key
/storage/*.DS_Store
/vendor
/data
.coverage/
.env
.env.backup
.phpunit.result.cache
.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.env.production
.env.staging
.DS_Store
tags
init-config.sh
activated-docker.sh
*.swp
nohup.out

docker-compose-production.yml